body{ 
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    background: darkblue;
    margin:0px;
    border-style:solid;  
}
.username{ 
    background:white;
    border-style: outset;
    display: inline-block;
    border-color:red;
    position:fixed;
    padding:20px;
    padding-bottom: 10px;
    padding-top: 10px;
    top:30px;
    right:0px;
}

.login{
    position: absolute;
    left: 44%;
    top:20%;
    height:50px;
    background-color: white;
    color:red;
    border:outset;
}
