input{
    box-sizing: border-box;
    width:100%;

 }
h2{
    font-family:'Lora',serif;
    color: aliceblue;
    font-size: 2em;
    padding-bottom: 1.5em;
    

}

body{
    margin:0;
    padding: 0;
    background-image: url("file:///home/warmachine/Desktop/Microproject/tree.png");
    background-size: cover;
    font-size: 16px;
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: #464646;

}
.usrname{
    
    padding-bottom: 2%;
    max-width: 150px;
    margin-left:0%;
}
.container{
    width:326px;
    padding-left: 0%;
    padding-top:0;
     margin-top:3em;
  }
.jumbotron{

    width:326px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: auto;
    
}
.password{
    margin-left:0%;
    padding-top: 4%;
    padding-bottom: 2%;
    max-width: 150px;
}
.button{
    margin-top: 5%;
    
}
.button :hover{
    color: black;
}
.btn{
    width: 100%;
}
@media (max-width:768px){
    .jumbotron{
        padding-top:40px;
           }
        }