.username {
	background-color: #ECD6EF; 
	color: black;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

.ktu {
	font-weight: 900;
	text-align: center;
}

.cent {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.card {
  max-width: 400px;
  margin: auto;
  padding: 30px 20px;
}

.loginBtn {
    width: 200px;
    display: table;
    margin: auto;
}

.lead {
  text-align: center;
}

hr {
  margin: 15px 20% 10px 20%;
  border: 1px solid grey;
}

.header {
  margin-bottom: 10px;
}
